@page
@model Hanson.RecipeApp.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Add Recipe";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <div id="editor" class="recipe-editor">
                    <p>add recipe details</p>
                    <br/>
                    <h2>Ingredients</h2>
                    <ul>
                        <li>ingredient 1 </li>
                        <li>ingredient 2 </li>
                        <li>ingredient 3 </li>
                    </ul>
                </div>
                
                <input asp-for="Details" name="Details" type="hidden" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group form-actions">
                <a asp-page="Index" class="btn btn-link btn-default">Cancel</a> <button type="submit" class="btn btn-primary btn-raised">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Styles {
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

        var form = document.querySelector('form');
        form.onsubmit = function () {
            var details = document.querySelector('input[name=Details]');
            details.value = JSON.stringify(quill.getContents().ops);
        };
    </script>
}

