@page
@model Hanson.RecipeApp.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "View Recipe";
}

<div class="row">
    <div class="col-md-10">
        <h1>@Model.Recipe.Name</h1>
    </div>
    <div class="col-md-2 text-right">
        <a asp-page="./Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-default btn-link">View All</a>
    </div>
</div>

<hr/>


<div class="row recipe-content">
    <div class="col-md-12">
        @Html.Raw(Model.Recipe.Details)
    </div>
</div>

@section Styles {
   <style>
       .recipe-content img{
           width:100%;
       }
   </style>
}
